.footer-networks {
    margin-bottom: 60px;
    width: 206px;
    text-align: center;
}


.footer-networks__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $wite-color;

    @media screen and (min-width: 1200px) {
        text-align: start;
        
    }
}

.footer-networks__list {
    display: flex;
}

.footer-networks__item:not(:last-child) {
    margin-right: 10px;
}

.footer-networks__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    width: 44px;
    height: 44px;

    background-color: $network-bg-color-footer;
    transition-duration: 250ms;
    transition-timing-function: $timingFunction;

        &:hover,
        &:focus {
            background-color: $accent-color;
        }
}


.footer-networks__svg {
    fill: $wite-color;
}