.contacts-header {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        margin-left: auto;    
    }
}


.contacts-header__link {
    display: flex;
    align-items: center;
    padding: 5px 0;

    color: $secondary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-duration: 250ms;
    transition-timing-function: $timingFunction;

        &:hover,
        &:focus {
            color: $accent-color;

            .contacts-header__svg-mail,
            .contacts-header__svg-tel {
                    fill: $accent-color;
                }
        }
    
        @media screen and (min-width: 1200px) {
            padding: 30px 0;
        }
}




.contacts-header__item:not(:last-child) {
    @media screen and (min-width: 1200px) {
        margin-right: 30px;
    }


}

.contacts-header__svg-mail {
    margin-right: 10px;
    fill: $secondary-text-color;
    transition-duration: 250ms;
    transition-timing-function: $timingFunction;

}

.contacts-header__svg-tel {
    margin-right: 10px;
    fill: $secondary-text-color;
    transition-duration: 250ms;
    transition-timing-function: $timingFunction;
}



