.section {
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-bg-color {
    background-color: $button-bg-color;
}

.section__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.section__list {
    margin-bottom: 10px;
    text-align: center;

    color: $primary-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-decoration: none;
    
@media screen and (min-width: 480px) {
    text-align: start;
    
}
}