.section {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
        
    }
}

.section-bg-color {
    background-color: $button-bg-color;
}

.section__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    @media screen and (min-width: 1200px) {
        font-size: 36px;
        margin-bottom: 50px;
    }
}

.section__list {
    margin-bottom: 10px;
    text-align: center;

    color: $primary-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-decoration: none;
    
@media screen and (min-width: 768px) {
    text-align: start;
    
}
}