$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color:#2196F3;
$primary-bg-color: #FFFFFF;
$secondary-bg-color: #2F303A;
$wite-color: #FFFFFF;
$button-bg-color: #F5F4FA;
$hero-bg-color: #C4C4C4;
$network-color: #AFB1B8;
$network-bg-color-footer: rgba(255, 255, 255, 0.1);

$fontPrimary: Roboto, sans-serif;
$fontSecondary: Raleway, sans-serif;

$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
 